<section>
  <h2 *ngIf="sourceOrDest==='source'">{{boardService.sourceName}}</h2>
  <h2 *ngIf="sourceOrDest==='destination'">{{boardService.DistName}}</h2>
  <p>50 رکورد</p>
  <div *ngIf="dataset" class="table">
    <table>
      <tr>
        <th *ngFor="let key of dataset[0]">{{key}}</th>
      </tr>
      <tr *ngFor="let item of createRange(dataset?.length); let currentElementIndex=index">
        <td *ngFor="let value of dataset[currentElementIndex+1]">{{value}}</td>
      </tr>
    </table>
  </div>
</section>
