@use '../../../styles/defs' as *;

section {
  position: relative;
  height: 25rem;
  width: 100%;
  box-shadow: 0 0 $density-normal gray;
  background-color: #fff;
}
.table {
  position: absolute;
  bottom: 0;
  clear: both;
  overflow: auto;
  width: 100%;
  height: 20rem;
  * {
    font-size: 95%;
  }
}

p {
  padding: 1.5rem 0 0 $density-large;
  float: left;
}
h2 {
  color: $color-darkest;
  padding: $density-normal $density-large $density-small 0;
  display: inline-block;
}
table {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: $density-small $density-large 0 $density-large;
  text-align: left;
  vertical-align: middle;
}

table tr {
  background-color: lighten($color-lightGray, 6%);
}

table tr:hover {
  background-color: white;
}

table th {
  position: sticky;
  top: 0;
  padding-top: $density-normal;
  padding-bottom: $density-small;
  background-color: $color-darker;
  color: white;
}
