@use '../../../styles/defs' as *;

section {
  position: relative;
  height: 25rem;
  width: 100%;
  //position: fixed;
  //bottom: 0;
  box-shadow: 0 0 $density-normal gray;


}
.table {
  position: absolute;
  bottom: 0;
  clear: both;
  overflow: auto;
  width: 100%;
  height: 20rem;
  * {
    font-size: 95%;
  }
}
table {
  //height: 100%;
}

p{
  padding: 1.5rem 0 0 $density-large;
  float: left;
}
h2 {
  padding: $density-normal $density-large $density-small 0;
  display: inline-block;

}
table {
  border-collapse: collapse;
}

table td, table th {
  border: 1px solid #ddd;
  padding: $density-small $density-large 0 $density-large;
  text-align: left;
  vertical-align: middle;
}

table tr{background-color: $color-lightGray;}

table tr:hover {background-color: lighten($color-lightGray, 6%);}

table th {
  position: sticky;
  top: 0;
  padding-top: 1.5rem;
  padding-bottom: $density-normal;
  background-color: $color-darker;
  color: white;
}
