@use '../../../styles/defs' as *;
section {
  position: absolute;
  background-color: white;
  width: 100vw;
  min-height: 70rem;
  z-index: 20000;
  top: 0;
}
.x {
  height: 35rem;
  width: 80%;
  box-shadow: 0 0 4rem $color-lightGray;
  margin: auto;
  margin-top: $density-larger;
}
.main {
  margin-right: 25rem;
}
app-filter-details {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 25rem;
  background-color: lighten($color-lightGray, 6%);
  box-shadow: 0 0 $density-normal gray;
  padding: $density-larger;
}
h3,
h2 {
  margin: $density-large;
}
h2 {
  margin-bottom: 0;
  color: $color-purple;
}
hr {
  background-color: $color-purple;
}
.save,
.cancel {
  margin: $density-larger 0 $density-larger $density-large;
  border-radius: $density-small;
  width: $density-largest;
  border: none;
  height: $density-larger;
  cursor: pointer;
}
.save {
  background-color: $color-purple;
  color: white;
  &:hover {
    background-color: $color-darkPurple;
  }
}
.cancel {
  background-color: $color-lightGray;
  &:hover {
    background-color: darken($color-lightGray, 20%);
  }
}
.toolbar button {
  border-radius: 999rem;
  width: 7.5rem;
  height: 7.5rem;
  border: none;
  cursor: pointer;
  margin-right: $density-normal;
}
#condition {
  background-color: $color-purple;
  color: white;
}
#or {
  background-color: $color-blue;
  color: white;
}
#and {
  background-color: $color-darkPurple;
  color: white;
}
.toolbar {
  width: 80%;
  margin: auto;
  display: flex;
}

form {
  float: left;
}

.switch {
  width: 100%;
  position: relative;
}

.switch input {
  position: absolute;
  top: 0px;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}

.switch input:checked {
  z-index: 1;
}

.switch input:checked + label {
  opacity: 1;
  cursor: default;
}

.switch input:not(:checked) + label:hover {
  opacity: 0.5;
}

.switch label {
  color: #222222;
  opacity: 0.33;
  transition: opacity 0.25s ease;
  cursor: pointer;
}

.switch .toggle-outside {
  height: 100%;
  border-radius: 2rem;
  overflow: hidden;
  transition: 0.25s ease all;
}

.switch .toggle-inside {
  border-radius: 2.5rem;
  background: #4a4a4a;
  position: absolute;
  transition: 0.25s ease all;
  top: 0.25rem;
}

.switch--horizontal {
  width: 18rem;
  height: 2rem;
  margin: 10px auto;
  font-size: 0;
  margin-bottom: 1rem;
}

.switch--horizontal input {
  height: 2rem;
  width: 5rem;
  right: 5rem;
  margin: 0;
}

.switch--horizontal label {
  font-size: 1.3rem;
  line-height: 2rem;
  display: inline-block;
  width: 6rem;
  height: 100%;
  margin: 0;
  text-align: center;
}

.switch--horizontal label:last-of-type {
  margin-right: 5rem;
}

.switch--horizontal .toggle-outside {
  background: #dddddd;
  position: absolute;
  width: 5rem;
  right: 5.7rem;
}

.switch--horizontal .toggle-inside {
  height: 1.5rem;
  width: 1.5rem;
}

.switch--horizontal input:checked ~ .toggle-outside .toggle-inside {
  right: 0.25rem;
}

.switch--horizontal input ~ input:checked ~ .toggle-outside .toggle-inside {
  right: 3.25rem;
}

.switch--horizontal input:disabled ~ .toggle-outside .toggle-inside {
  background: #9a9a9a;
}

.switch--horizontal input:disabled ~ label {
  color: #9a9a9a;
}
