.x {
  background-color: #1c2c81;
  height: 30rem;
  border: 10px solid blue;
}
img {
  width: 10rem;
  height: 10rem;
  display: inline-block;
  border-radius: 999rem;

}
 .toolbar button {
   border-radius: 999rem;
   width: 10rem;
   height: 10rem;
 }
