@use '../../../styles/defs' as *;



.top-bar-container {
  grid-area: top-bar;
}

.side-bar-container {
  grid-area: side-bar;
}

.page-content {
  grid-area: page-content;

}

.footer {
  grid-area: footer-area;
}

.page {



  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
        'top-bar top-bar  '
        'side-bar page-content  '
        'footer-area footer-area ';

  grid-gap: 0;


  > .top-bar-container {
    position: sticky;
    top: 0;
    z-index: 2;
  }

  > .side-bar-container {

    width: fit-content;
  }
  footer {

    background-color: #282A35;
    color: white;
    text-align: center;
    padding: $density-normal $density-large;
    //position: absolute;
    //left: 0;
    //bottom: 0;
    //width: 100%;
    //overflow: hidden;
  }
}




