<app-landing-header></app-landing-header>
<mat-grid-list cols="1" rowHeight="60vh">
    <mat-grid-tile class="main-banner">
        <div class="main-banner__text">
            <h1>
                داده های تمیز، کامل
            </h1>
            <h1>
                و تحلیل شده برای همه
            </h1>
            <h5>
                بدون داده سالم، هر تصمیمی باعث ایجاد مشکل میشود
            </h5>
            <button>شروع کن</button>
            <button>تست رایگان</button>
        </div>
    </mat-grid-tile>
    <mat-grid-tile class="intro-banner">
        <div class="intro-banner__text">
            <h1>
                هر آنچه برای تحلیل داده ها نیاز دارید
            </h1>
            <h1>
                در اختیار شماست
            </h1>
            <h4>
                تیم سه کارآموزی آکادمی کد استار
            </h4>
            <a href="https://github.com/Star-Academy/Summer1400-Project-Team3" target="_blank">صفحه گیت هاب</a>
        </div>
    </mat-grid-tile>
</mat-grid-list>
<app-landing-footer></app-landing-footer>