<mat-grid-list cols="1" rowHeight="2:1">
    <mat-grid-tile class="main-banner">
        <div class="main-banner__text">
            <h1>
                Clean, complete,
            </h1>
            <h1>
                uncompromised data for everyone
            </h1>
            <h5>
                Without healthy data, every decision is at risk
            </h5>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list>