 <div class="container">
  <app-header></app-header>
  <app-pipeline-header (detailsIcon)="showOrHideDetails()" (tableIcon)="showOrHideTable()"></app-pipeline-header>
  <div *ngIf="showDetails" class="details" [ngSwitch]="_pipelineService.detailsMode">
    <app-join-details *ngSwitchCase="'join'" [join_details]="_pipelineService.join_details"></app-join-details>
    <app-pipeline-details *ngSwitchCase="'pipeline'"></app-pipeline-details>
    <app-aggregate-details *ngSwitchCase="'aggregate'" [aggregate_details]="_pipelineService.aggregate_details"></app-aggregate-details>
  </div>
  <main>
    <div id="graph-container" class="ogma-container"></div>
  </main>
  <app-pipeline-table *ngIf="showTable"></app-pipeline-table>
</div>
