<div class="container">
  <app-header></app-header>
  <app-pipeline-header (detailsIcon)="showOrHideDetails()" (tableIcon)="showOrHideTable()"></app-pipeline-header>
  <div *ngIf="showDetails" class="details" [ngSwitch]="detailsMode">
      <app-join-details *ngSwitchCase="'join'" [join_details]="joinDetails"></app-join-details>
      <app-pipeline-details *ngSwitchCase="'pipeline'"></app-pipeline-details>
  </div>
  <main>
    <app-pipeline-board></app-pipeline-board>
  </main>
  <app-pipeline-table *ngIf="showTable"></app-pipeline-table>
</div>

