@use "./_defs" as *;

@mixin centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin createForm {
  border-radius: $density-normal;
  margin: $density-larger 0;
  min-width: 30%;
  background-color: white;
  padding: $density-larger;
  * {
    margin-bottom: $density-large;
  }
  h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: $density-large;
    color: $color-darkest;
  }
}

@mixin createInputBoxes {
  border-radius: $density-small;
  border: $density-smallest solid black;
  height: 3.5rem;
  padding: $density-large;
  outline: none;

  &:hover {
    border: $density-smaller solid black;
  }

  &:focus {
    border: $density-smaller solid $color-purple;
    outline: none;
  }

}
