@charset "UTF-8";
/**
*
*	Name:			IRAN Sans-Serif Font
*	Version:		5.0
*	Author:			Moslem Ebrahimi (moslemebrahimi.com)
*	Created on:		Dec 25, 2012
*	Updated on:		Sep 01, 2017
*	Website:		             http://fontiran.com
*	Copyright:		Commercial/Proprietary Software
--------------------------------------------------------------------------------------
فونت های ایران سن سریف یک نرم افزار مالکیتی محسوب می شود. جهت آگاهی از قوانین استفاده از این فونت ها لطفا به وب سایت (فونت ایران دات کام) مراجعه نمایید
--------------------------------------------------------------------------------------
IRAN Sans-serif fonts are considered a proprietary software. To gain information about the laws regarding the use of these fonts, please visit www.fontiran.com 
--------------------------------------------------------------------------------------
This set of fonts are used in this project under the license: (.....)
--------------------------------------------------------------------------------------
*	
**/
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 900;
  src: url("../assets/fonts/eot/IRANSansWeb_Black.eot");
  src: url("../assets/fonts/eot/IRANSansWeb_Black.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/woff2/IRANSansWeb_Black.woff2") format("woff2"), url("../assets/fonts/woff/IRANSansWeb_Black.woff") format("woff"), url("../assets/fonts/ttf/IRANSansWeb_Black.ttf") format("truetype");
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  src: url("../assets/fonts/eot/IRANSansWeb_Bold.eot");
  src: url("../assets/fonts/eot/IRANSansWeb_Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/woff2/IRANSansWeb_Bold.woff2") format("woff2"), url("../assets/fonts/woff/IRANSansWeb_Bold.woff") format("woff"), url("../assets/fonts/ttf/IRANSansWeb_Bold.ttf") format("truetype");
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/eot/IRANSansWeb_Medium.eot");
  src: url("../assets/fonts/eot/IRANSansWeb_Medium.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/woff2/IRANSansWeb_Medium.woff2") format("woff2"), url("../assets/fonts/woff/IRANSansWeb_Medium.woff") format("woff"), url("../assets/fonts/ttf/IRANSansWeb_Medium.ttf") format("truetype");
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/eot/IRANSansWeb_Light.eot");
  src: url("../assets/fonts/eot/IRANSansWeb_Light.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/woff2/IRANSansWeb_Light.woff2") format("woff2"), url("../assets/fonts/woff/IRANSansWeb_Light.woff") format("woff"), url("../assets/fonts/ttf/IRANSansWeb_Light.ttf") format("truetype");
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 200;
  src: url("../assets/fonts/eot/IRANSansWeb_UltraLight.eot");
  src: url("../assets/fonts/eot/IRANSansWeb_UltraLight.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/woff2/IRANSansWeb_UltraLight.woff2") format("woff2"), url("../assets/fonts/woff/IRANSansWeb_UltraLight.woff") format("woff"), url("../assets/fonts/ttf/IRANSansWeb_UltraLight.ttf") format("truetype");
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/eot/IRANSansWeb.eot");
  src: url("../assets/fonts/eot/IRANSansWeb.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/woff2/IRANSansWeb.woff2") format("woff2"), url("../assets/fonts/woff/IRANSansWeb.woff") format("woff"), url("../assets/fonts/ttf/IRANSansWeb.ttf") format("truetype");
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "IRANSans", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden;
}

:root {
  --font-size: 1.5rem;
}

@media (max-width: 800px) {
  :root {
    --font-size: 1.3rem;
  }
}
@media (max-width: 600px) {
  :root {
    --font-size: 1.2rem;
  }
}
html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

input,
button {
  color: inherit;
  font-size: inherit;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

body {
  display: grid;
  box-sizing: content-box;
  min-height: 100vh;
  margin: auto;
  font-size: var(--font-size);
  grid-template-rows: 1fr;
}

.stretch-child {
  display: grid;
}

.button-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  transition: background-color 100ms ease-in-out;
  cursor: pointer;
  margin-bottom: 1rem;
}
.button-block:hover {
  background-color: #8594E4;
}
.button-block.selected {
  background-color: #6643B5;
  color: white;
}

.icon {
  display: block;
  width: 1.2em;
  height: 1.2em;
}

.icon-button {
  display: block;
  background-color: inherit;
  border: none;
  cursor: pointer;
}
.icon-button:not([disabled]) {
  cursor: pointer;
}
.icon-button .icon {
  display: block;
}
.icon-button .icon:hover {
  transition: fill 200ms ease-in-out;
}
@keyframes rotating {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
.toast-container.toast-top-left {
  top: 1rem;
  left: 1rem;
}
.toast-container.toast-top-left-page {
  top: calc(1.8em + 4rem);
  left: 1rem;
}
.toast-container .ngx-toastr {
  width: 20em;
  box-shadow: none;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/*# sourceMappingURL=styles.css.map */
