@use '../../../styles/defs' as *;
.ddbtn {
  display: flex;
  align-items: center;
  font-size: 12px;
  justify-content: space-around;
  font-weight: bold;
  font-family: "IRANSans";
}
.top-bar {
  background-color: #282a35;

  &.dark {
    background-color: #282a35;
  }

  > nav {
    display: grid;
    height: calc(1.6em + #{$density-normal + $density-large + 0.2rem});
    .talend {
      position: absolute;
      top: 1.5rem;
      right: 7rem;
      font-size: $density-large;
      color: white;
      font-weight: bold;
    }
    .talend-icon {
      width: $density-larger;
      height: $density-larger;
      margin-right: 2rem;
      margin-top: 0.8rem;
    }

    .icon-profile {
      cursor: pointer;
      margin-left: $density-normal;
      padding: $density-small;
      background-color: white;
      background-size: cover;
      //color: $color-dark;
      border-radius: 100%;
      border: none;
      box-shadow: 0 0 0 0.05em $color-lighter;

      > svg {
        width: 1.2em;
        height: 1.2em;
      }
    }

    .profile-popup-container {
      position: relative;
      transition: opacity 200ms ease-in-out;

      &.invisible {
        opacity: 0;
        height: 0;
        overflow: hidden;
      }

      > .profile-popup {
        position: absolute;
        top: $density-normal;
        left: 0;

        //background-color: $color-medium-dark;
        border-radius: $density-small;
        //border: 0.1rem solid $color-medium-light;
        color: $color-lighter;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $density-normal;
        padding: $density-large $density-normal 0 $density-normal;

        width: max-content;

        &::before {
          content: "";
          position: absolute;
          border: calc(0.5em + 0.1rem) solid transparent;
          //border-bottom-color: $color-medium-light;
          width: calc(1em + 0.2rem);
          height: calc(1em + 0.2rem);
          top: calc(-1em - 0.2rem);
          left: calc(#{$density-large} - 0.1rem);
        }

        &::after {
          content: "";
          position: absolute;
          border: 0.5em solid transparent;
          //border-bottom-color: $color-medium-dark;
          width: 1em;
          height: 1em;
          top: -1em;
          left: $density-large;
        }

        .icon-profile {
          cursor: inherit;
          font-size: 400%;
          padding: $density-large;

          margin-left: 0;
        }

        > ul {
          //border-top: 0.1rem solid $color-medium-light;

          padding: $density-normal;
        }
      }
    }

    .username {
      bottom: 0.4rem;
      position: relative;
      color: white;
      padding-left: $density-small;
    }

    .arrow {
      position: relative;
      width: $density-large;
      height: $density-large;
      //padding-top: $density-small;
      top: 0.3rem;
      color: white;
    }

    .userInfo {
      height: calc(1.6em + #{$density-normal + $density-large + 0.2rem});
      float: left;
      background-color: $color-dark-gray;
      border: none;
      cursor: pointer;
      margin-left: $density-large;
      padding: 0.3rem $density-normal 0 $density-small;
      &:hover {
        background-color: $color-purple;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .top-bar > nav .talend-icon {
    margin-top: 0.6rem;
  }
  .top-bar > nav .talend {
    top: 1.3rem;
  }
}
