@use '../../../styles/defs' as *;

.top-bar {
  background-color: #282A35;

  &.dark {
    background-color: #282A35;
  }

  > nav {
    display: grid;
    height: calc(1.6em + #{$density-normal + $density-large + 0.2rem});
    span {
      position: absolute;
      top: 1.5rem;
      right: 7rem;
      font-size: $density-large;
      color: white;
      font-weight: bold;
    }
    .talend-icon{
      width: $density-larger;
      height: $density-larger;
      margin-right: 2rem;
      margin-top: 0.9rem;
    }

    .icon-profile {
      float: left;
      cursor: pointer;
      margin-left: 1.2em;
      margin-top: 1.2rem;
      padding: $density-small;
      background-color: white;
      background-size: cover;
      color: $color-dark;
      border-radius: 100%;
      border: none;
      box-shadow: 0 0 0 0.05em $color-lighter;

      > svg {
        width: 1.4em;
        height: 1.4em;
      }

    }

    .profile-popup-container {
      position: relative;
      transition: opacity 200ms ease-in-out;

      &.invisible {
        opacity: 0;
        height: 0;
        overflow: hidden;
      }

      > .profile-popup {
        position: absolute;
        top: $density-normal;
        left: 0;

        background-color: $color-medium-dark;
        border-radius: $density-small;
        border: 0.1rem solid $color-medium-light;
        color: $color-lighter;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $density-normal;
        padding: $density-large $density-normal 0 $density-normal;

        width: max-content;

        &::before {
          content: "";
          position: absolute;
          border: calc(0.5em + 0.1rem) solid transparent;
          border-bottom-color: $color-medium-light;
          width: calc(1em + 0.2rem);
          height: calc(1em + 0.2rem);
          top: calc(-1em - 0.2rem);
          left: calc(#{$density-large} - 0.1rem);
        }

        &::after {
          content: "";
          position: absolute;
          border: 0.5em solid transparent;
          border-bottom-color: $color-medium-dark;
          width: 1em;
          height: 1em;
          top: -1em;
          left: $density-large;
        }

        .icon-profile {
          cursor: inherit;
          font-size: 400%;
          padding: $density-large;

          margin-left: 0;
        }

        > ul {
          border-top: 0.1rem solid $color-medium-light;

          padding: $density-normal;
        }
      }
    }

    .dropdown {
      float: left;
      overflow: hidden;
    }

    .dropdown .dropbtn {
      cursor: pointer;
      border: none;
      outline: none;
      color: white;
      padding: 1.6rem;
      background-color: inherit;
      font-family: inherit;
      margin-left: $density-large;
      border-radius: $density-small;
    }

    .dropdown:hover .dropbtn, .dropbtn:focus {
      background-color: $color-purple;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }

    .dropdown-content a {
      float: none;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }

    .dropdown-content a:hover {
      background-color: #ddd;
    }

    .show {
      display: block;
    }
  }
}
