<!--<header class="top-bar" >-->
<!--  <nav>-->
<!--    <form  class="search-box" >-->
<!--      <input  type="search" name="query" placeholder="جستجو" />-->
<!--      <button aria-label="Search">-->
<!--        <svg-->
<!--          xmlns="http://www.w3.org/2000/svg"-->
<!--          fill="currentColor"-->
<!--          viewBox="0 0 16 16"-->
<!--          class="icon"-->
<!--        >-->
<!--          <path-->
<!--            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"-->
<!--          />-->
<!--        </svg>-->
<!--      </button>-->
<!--    </form>-->
<!--    <ul >-->
<!--      <li>-->
<!--        <a routerLink="/user/login" class="button-pill">ورود</a>-->
<!--      </li>-->
<!--      <li>-->
<!--        <a routerLink="/user/signUp" class="button-pill">ثبت نام</a>-->
<!--      </li>-->
<!--    </ul>-->
<!--    <div >-->
<!--      <button  class="icon-profile">-->
<!--        <svg-->
<!--          xmlns="http://www.w3.org/2000/svg"-->
<!--          fill="currentColor"-->
<!--          class="profile-empty-image icon"-->
<!--          viewBox="0 0 16 16"-->
<!--        >-->
<!--          <path-->
<!--            d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"-->
<!--          />-->
<!--        </svg>-->
<!--      </button>-->
<!--      <div class="profile-popup-container" >-->
<!--        <div class="profile-popup">-->
<!--          <div class="icon-profile">-->
<!--            <svg-->
<!--              xmlns="http://www.w3.org/2000/svg"-->
<!--              fill="currentColor"-->
<!--              class="profile-empty-image icon"-->
<!--              viewBox="0 0 16 16"-->
<!--            >-->
<!--              <path-->
<!--                d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"-->
<!--              />-->
<!--            </svg>-->
<!--          </div>-->
<!--&lt;!&ndash;          <h3>{{ (auth.currentUser | async)?.username }}</h3>&ndash;&gt;-->
<!--          <div dir="ltr"></div>-->
<!--          <ul>-->
<!--            <li>-->
<!--              <a routerLink="/user/profile" class="button-pill">مدیریت حساب</a>-->
<!--            </li>-->
<!--            <li>-->
<!--              <button  class="button-pill">خروج</button>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </nav>-->
<!--</header>-->
<p>header works!</p>
