//@use '../../../styles/defs' as *;
//
//.top-bar {
//  background-color: $color-darker;
//
//  &.dark {
//    background-color: $color-darkest;
//  }
//
//  > nav {
//    display: flex;
//    flex-direction: row;
//    align-items: center;
//    justify-content: space-between;
//    padding: $density-normal $density-large;
//    gap: $density-normal;
//
//    height: calc(1.6em + #{$density-normal + $density-large + 0.2rem});
//
//    ul {
//      display: flex;
//      flex-direction: row;
//      align-items: center;
//      gap: $density-large;
//    }
//
//    .icon-profile {
//      display: flex;
//      cursor: pointer;
//      margin-left: $density-normal;
//      padding: $density-small;
//      background-color: yellow;
//      background-size: cover;
//      color: red;
//      border-radius: 100%;
//      border: none;
//      box-shadow: 0 0 0 0.05em $color-lighter;
//
//      > svg {
//        width: 1.6em;
//        height: 1.6em;
//      }
//
//      @media screen and (max-width: 600px) {
//        margin-left: 0;
//      }
//    }
//
//    .profile-popup-container {
//      position: relative;
//      transition: opacity 200ms ease-in-out;
//
//      &.invisible {
//        opacity: 0;
//        height: 0;
//        overflow: hidden;
//      }
//
//      > .profile-popup {
//        position: absolute;
//        top: $density-normal;
//        left: 0;
//
//        background-color: green;
//        border-radius: $density-small;
//        border: 0.1rem solid yellow;
//        color: $color-lighter;
//
//        display: flex;
//        flex-direction: column;
//        align-items: center;
//        gap: $density-normal;
//        padding: $density-large $density-normal 0 $density-normal;
//
//        width: max-content;
//
//        &::before {
//          content: '';
//          position: absolute;
//          border: calc(0.5em + 0.1rem) solid transparent;
//          border-bottom-color: yellow;
//          width: calc(1em + 0.2rem);
//          height: calc(1em + 0.2rem);
//          top: calc(-1em - 0.2rem);
//          left: calc(#{$density-large} - 0.1rem);
//        }
//
//        &::after {
//          content: '';
//          position: absolute;
//          border: 0.5em solid transparent;
//          border-bottom-color: red;
//          width: 1em;
//          height: 1em;
//          top: -1em;
//          left: $density-large;
//        }
//
//        .icon-profile {
//          cursor: inherit;
//          font-size: 400%;
//          padding: $density-large;
//
//          margin-left: 0;
//        }
//
//        > ul {
//          border-top: 0.1rem solid green;
//
//          padding: $density-normal;
//        }
//      }
//    }
//
//    > .search-box {
//      display: flex;
//      flex-direction: row;
//      align-items: center;
//
//      height: fit-content;
//      width: calc(min(25vw + 2rem, 15em));
//      border-radius: 1000rem;
//      border: 0.1rem solid gray;
//      background-color: inherit;
//      transition: border-color 100ms ease-in-out;
//
//      &:hover {
//        border-color: $color-lighter;
//      }
//
//      > input {
//        background-color: transparent;
//        border: none;
//
//        padding: $density-small $density-normal $density-small 0;
//        width: 100%;
//        outline: none;
//        color: inherit;
//      }
//
//      > button {
//        border: none;
//        border-radius: 100%;
//        background-color: transparent;
//        cursor: pointer;
//
//        display: flex;
//        align-items: center;
//        justify-content: center;
//        width: 4rem;
//        height: 100%;
//        transition: color 100ms ease-in-out;
//
//        &:hover {
//          color: $color-lighter;
//        }
//      }
//    }
//  }
//}
