<header>
    <div class="nav"  id="banner">
        <a class="hamburger">
            <input type="checkbox" (click)="toggleMenu()" />
            <span></span>
            <span></span>
            <span></span>
        </a>
        <div class="nav__logo">
            <h1>talend</h1>
        </div>
        <div class="nav__links">
            <ul>
                <li>
                    <a href="#team">
                        <p>معرفی اعضا</p>
                    </a>
                </li>
                <li>
                    <p>درباره سایت</p>
                </li>
                <li>
                    <a routerLink="/logIn"><button>ورود</button></a>
                </li>
                <li>
                    <a routerLink="/signUp"> <button>ثبت نام</button></a>
                </li>
            </ul>
        </div>
    </div>
</header>
<div class="slider-small-screen" id="toggleMenu">
    <ul>
        <li>
            <p>معرفی اعضا</p>
        </li>
        <li>
            <p>درباره سایت</p>
        </li>
        <li>
            <p>ورود</p>
        </li>
        <li>
            <p>ثبت نام</p>
        </li>
    </ul>
</div>