@use '../../../styles/defs' as *;
section {
  height: 6rem;
  background-color: $color-lightGray;
  position: relative;
}
button:first-of-type {
  position: absolute;
  right: $density-large;
  top: 1.7rem;
  cursor: pointer;
  transition: all .1s ease-out;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  width: 24px;
  height: 24px;
  color: #fff;
  background-color:$color-darkest;
  border: 1px solid $color-darkest;
  display: flex;
}
svg:first-of-type {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  --t-button-color: currentColor;
  --t-button-background-color: transparent;
  --t-button-border-color: transparent;
  --t-button-padding: 0 15px;
  --t-button-height: 3.2rem;

  -webkit-font-smoothing: antialiased;
  list-style: none;
  font: inherit;
  text-transform: none;
  cursor: pointer;
  text-align: center;
  user-select: none;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 600;
  line-height: inherit;
  color: #fff;
  box-sizing: border-box;
  flex-shrink: 0;
  transform-origin: center center;
  overflow: hidden;
  fill: currentColor;
  width: 14px !important;
  height: 12px !important;
}
button:nth-of-type(2) {
  position: absolute;
  right: 6rem;
  top: 1.7rem;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  --t-button-color: currentColor;
  --t-button-background-color: transparent;
  --t-button-border-color: transparent;
  --t-button-padding: 0 15px;
  --t-button-height: 3.2rem;
  -webkit-font-smoothing: antialiased;
  list-style: none;
  box-sizing: border-box;
  font: inherit;
  margin: 0;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  background-image: none;
  cursor: pointer;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 600;
  transition: all .1s ease-out;
  grid-gap: .5rem;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  align-items: center;
  gap: .5rem;
  justify-content: center;
  box-shadow: none;
  padding: 0;
  border-radius: 12px;
  line-height: inherit;
  width: 24px;
  height: 24px;
  color: #fff;
  background-color: $color-darkest;
  border: 1px solid $color-darkest;
  opacity: 1;
  display: flex;
  min-height: 0;
}
