<h1 mat-dialog-title>یک پردازش را اضافه کنید</h1>
<div mat-dialog-content class="choice-container">
    <button mat-button (click)="onClickFilter()"> <img src="../../../../../assets/icons/filter_alt_white_24dp.svg" />
        فیلتر داده ها</button>
    <button mat-button (click)="onClickJoin()"> <img src="../../../../../assets/icons/queue_white_24dp.svg" /> اتصال دو
        جدول</button>
    <button mat-button (click)="onClickAggregate()"> <img src="../../../../../assets/icons/widgets_white_24dp.svg" />
        تجمیع</button>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancle()">لغو</button>
</div>