@use '../../../styles/defs' as *;

section {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
  width: 100%;
  box-shadow: 0 0 $density-normal gray;

  .table {
    padding: 1rem;
    clear: both;
    overflow: auto;
    width: 100%;

    * {
      font-size: 95%;
    }
  }
}

p {
  padding: 1rem;
  float: left;
}

h2 {
  color: $color-darkest;
  padding: $density-normal $density-large $density-small 0;
  display: inline-block;

}

table {
  border-collapse: collapse;
}

table td, table th {
  border: 1px solid #ddd;
  padding: $density-small $density-large 0 $density-large;
  text-align: left;
  vertical-align: middle;
}

table tr {
  background-color: $color-lightGray;
}

table tr:hover {
  background-color: lighten($color-lightGray, 6%);
}

table th {
  position: sticky;
  top: 0;
  padding-top: 1.5rem;
  padding-bottom: $density-normal;
  background-color: $color-darker;
  color: white;
}
