@use '../../../styles/defs' as *;

section {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
  width: 100%;
  box-shadow: 0 0 $density-normal gray;

  .table {
    padding: 1rem;
    clear: both;
    overflow: auto;
    width: 100%;

    * {
      font-size: 95%;
    }
  }
}

p {
  padding: 1.5rem;
  margin-top: 2rem;
  float: left;
  font-weight: bold;
}

h2 {
  color: $color-darkest;
  padding: $density-normal $density-large $density-small 0;
  display: inline-block;

}

table {
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: $density-normal $density-large $density-normal $density-large;
  text-align: left;
  vertical-align: middle;
}

table tr{background-color: lighten($color-lightGray, 6%);}

table tr:hover {background-color: white}
table th {
  position: sticky;
  top: 0;
  padding: $density-large;
  background-color: $color-darker;
  color: white;
}
